<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
<title>Cadastrar Professor</title>
<div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header-js"></div>

</head>
<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>
					Cadastrar Professor
				</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
					<li class="active">Here</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content container-fluid">

				<!-- CORPO FORMULARIO -->
				<div class="container" style="width: 80%;">

					<form>
						<div>
							<output>Nome Completo do Professor</output>
							<input class="form-control" placeholder="Nome do Professor">
						</div>


						<div>
							<output>CPF</output>
							<input type="number" class="form-control"
								placeholder="Apenas Números">
						</div>


						<div>
							<output>Matrícula</output>
							<input type="number" class="form-control"
								placeholder="Apenas Números">
						</div>

						<div class="box-body">
							<table class="table table-bordered">
								<tbody>
									<tr style="background-color: #354248; color: white;">
										<th>Tabela de Áreas do Conhecimento</th>
										<th style="width: 40px">Possui?</th>
									</tr>
									<tr>
										<td>Segurança da Informação</td>
										<td><input type="checkbox"></td>
									</tr>
									<tr>
										<td>Suporte Técnico</td>
										<td><input type="checkbox"></td>
									</tr>
									<tr>
										<td>Programação</td>
										<td><input type="checkbox"></td>
									</tr>
									<tr>
										<td>Programação Mobile</td>
										<td><input type="checkbox"></td>
									</tr>
									<tr>
										<td>Qualidade de Software</td>
										<td><input type="checkbox"></td>
									</tr>
									<tr>
										<td>Adminstração de Redes</td>
										<td><input type="checkbox"></td>
									</tr>
									<tr>
										<td>Administação de Banco de Dados</td>
										<td><input type="checkbox"></td>
									</tr>
								</tbody>
							</table>
						</div>

						<div class="form-group">
							<output>Descrição Das Funções do Professor </output>
							<textarea class="form-control" rows="10"
								placeholder="Descreva aqui..."></textarea>
						</div>

						<button style="width: 100%;" class="btn btn-primary" type="submit">Cadastrar</button>
				</div>
				</form>

			</section>
			<!-- /.content -->
		</div>

		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/sidebar :: sidebar-control"></div>
	</div>
</body>
</html>