<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
<title>Professores Da Plataforma</title>
<div th:replace="fragments/header :: header-css"></div>
<div th:replace="fragments/header :: header-js"></div>
</head>
<body class="hold-transition skin-purple sidebar-mini">
	<div class="wrapper">
		<div th:replace="fragments/header :: header"></div>
		<div th:replace="fragments/sidebar :: sidebar"></div>

		<div class="content-wrapper">
			<!-- Content Header (Page header) -->
			<section class="content-header">
				<h1>Professores da Plataforma</h1>
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
					<li class="active">Here</li>
				</ol>
			</section>

			<!-- Main content -->
			<section class="content container-fluid">

				<div class="box-body">
					<div id="example1_wrapper"
						class="dataTables_wrapper form-inline dt-bootstrap">
						<div>
							<label>Buscar: </label> <input style="width: 30%;"
								class="form-control" placeholder="Nome do Professor ou CPF">
						</div>
						<br>
						<div class="row">
							<div class="col-sm-12">
								<table id="example1"
									class="table table-bordered table-striped dataTable"
									role="grid" aria-describedby="example1_info">
									<thead>
										<tr role="row">
											<th class="sorting_asc" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1" aria-sort="ascending"
												aria-label="Rendering engine: activate to sort column descending"
												style="width: 182px;">Professor(a)</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="Browser: activate to sort column ascending"
												style="width: 225px;">CPF</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="Platform(s): activate to sort column ascending"
												style="width: 199px;">Editar</th>
											<th class="sorting" tabindex="0" aria-controls="example1"
												rowspan="1" colspan="1"
												aria-label="Engine version: activate to sort column ascending"
												style="width: 156px;">Deletar</th>
										</tr>
									</thead>
									<tbody>
										<tr role="row" class="odd">
											<td>DARLENE TEIXEIRA CASTRO</td>
											<td>000.000.000-02</td>
											<td><a href="">Editar</a></td>
											<td><a href="">Deletar</a></td>
										</tr>
										<tr role="row" class="odd">
											<td>JÂNIO ELIAS TEIXEIRA JÚNIOR</td>
											<td>000.000.000-03</td>
											<td><a href="">Editar</a></td>
											<td><a href="">Deletar</a></td>
										</tr>
										<tr role="row" class="odd">
											<td>ALEX COELHO</td>
											<td>000.000.000-01</td>
											<td><a href="">Editar</a></td>
											<td><a href="">Deletar</a></td>
										</tr>
									</tbody>
									<tfoot>
										<tr>
											<th rowspan="1" colspan="1">Professor</th>
											<th rowspan="1" colspan="1">CPF</th>
											<th rowspan="1" colspan="1">Editar</th>
											<th rowspan="1" colspan="1">Deletar</th>
										</tr>
									</tfoot>
								</table>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-8">
								<div class="dataTables_info" id="example1_info" role="status"
									aria-live="polite">Exibindo 1 a 10 de 25 professores</div>
							</div>
							<div class="col-sm-4">
								<div>
									<ul class="pagination">
										<li><a href="#">Previous</a></li>
										<li class="paginate_button active"><a href="#">1</a></li>
										<li class="paginate_button "><a href="#">2</a></li>
										<li class="paginate_button "><a href="#">3</a></li>
										<li class="paginate_button "><a href="#">4</a></li>
										<li class="paginate_button "><a href="#">5</a></li>
										<li class="paginate_button "><a href="#">6</a></li>
										<li class="paginate_button next" id="example1_next"><a>Next</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</section>
			<!-- /.content -->
		</div>

		<div th:replace="fragments/footer :: footer"></div>
		<div th:replace="fragments/sidebar :: sidebar-control"></div>
	</div>
</body>
</html>